h2 {
	text-align: center;
}

.first {
	display: flex;
	justify-content: center;
	gap: 5px;

}

.buttonSet {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

#output {
	text-align: center;
}