h2 {
	margin-left: 50px;
}

.first {
	margin-left: 50px;
}

.buttonSet {

	margin-top: 5px;
}

.third {
	margin-left: 50px;
}

.fourth {
	margin-left: 50px;
}

.secondButtonSet {
	margin-left: 50px;
	margin-top: 5px;
}

#result {
	margin-left: 50px;
}