.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.main h1{
	text-align:center;
}

.first input {
	margin-left: 19px;
}
.third input {
	margin-left: 19px;
}

.buttonSet {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;

}

#sum {
	text-align: center;
}
#avg{
	text-align: center;
}