*{
	margin:0;
	padding:0;
	color:white;
	font-size:15px;
}

h2{
	color:black;
	text-align:center;
}

.mainBody{
	display:flex;
	flex-direction:column;
	justify-content:center;
	border:3px solid black;
	border-radius:5px;
	padding:10px;
	width:200px;
	position:relative;
	top:100px;
	left:550px;
	gap:20px;
}

.inputField{
	background-color:white;
	border:5px solid black;
	padding:10px;
}

input{
	outline:none;
	border:none;
	background-color:transparent;
	color:black;
}

.buttons{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
button{
	width:30px;
	height:50px;
	background-color:grey;
	border:none;
	cursor:pointer;
	color:black;
}
.clear button{

	width:100%;
	border:3px solid black;
	color:black;
}