h2 {
	text-align: center;
}

.first {
	display: flex;
	justify-content: center;
}

.buttonSet {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;

}

#result {
	text-align: center;
}