.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
h2{
	text-align:center;
}

.first input {
	margin-left: 10px;
}
.second label{
	margin-right:19px;
}
.third label {
	margin-right: 39px;
}

.buttonSet {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;

}

#result {
	text-align: center;
}
